<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
</head>
<body>
    <p>{{shelter.photo}}<!-- First a photo should be added --></p>
    <h1>Pet Shelter Information</h1>
    <div class="personal-info">
        <p><strong>Name: </strong>{{shelter.name}}</p>
        <p><strong>Country: </strong>{{shelter.country}}</p>
        <p><strong>City: </strong>{{shelter.city}}</p>
        <p><strong>Address: </strong>{{shelter.address}}</p>
        <p><strong>Capacity: </strong>{{shelter.capacity}}</p>
        <p>
            <strong>Verified: </strong>
            <div *ngIf="shelter.isVerified">
                <p>Verified</p>
            </div>
            <div *ngIf="!shelter.isVerified">
                <p>Not verified</p>
            </div>
        </p>
    </div>
    <div class="description">
        <p><strong>Description:</strong></p>
        <p>{{shelter.description}}</p>
    </div>
    <div class="options">
        <button class="options-button" (click)="message()">Message</button>
        <button class="options-button" (click)="rate()">Rate</button>
        <button class="options-button" (click)="comment()">Leave a comment</button>
    </div>
    <p>Rating: <!-- Rating should be added --></p>
    <div class="comments">
        <!-- Comments section should also be added -->
    </div>
</body>
</html>
