<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisement</title>
</head>
<body>
    <div class="initial-informataion">
        <h1>{{ad.title}}</h1>
        <p><strong>Time of creation: {{ad.timeOfCreation}}</strong></p>
        <p><strong>Description: {{ad.description}}</strong></p>
    </div>
    <div class="dog-pictures">
        <!-- Here we should have all current dog pictures -->
    </div>
    <div class="dog-info">
        <h2>Dog Information</h2>
        <p>Name: {{ad.dogName}}</p>
        <p>Breed: {{ad.dogBreed}}</p>
        <p>Age: {{ad.dogAge}}</p>
        <p>Gender: {{ad.dogGender}}</p>
        <p>Kilograms: {{ad.dogKg}}</p>
        <p>Color: {{ad.dogColor}}</p>
    </div>
    <div class="comments">
        <!-- Here should be the section where you can add comments about this advertisement -->
        <button class="comment-button">Add Comment</button>
    </div>
</body>
</html>
