<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mido</title>
</head>
<body>
    <div *ngIf="role === 'CLIENT'">
        <h2>Client Details</h2>
        <div class="client-info">
            <p><strong>First Name:</strong> {{ client.firstName }}</p>
            <p><strong>Middle Name:</strong> {{ client.middleName }}</p>
            <p><strong>Last Name:</strong> {{ client.lastName }}</p>
            <p><strong>Age:</strong> {{ client.age }}</p>
            <p><strong>Country:</strong> {{ client.country }}</p>
            <p><strong>City:</strong> {{ client.city }}</p>
            <p><strong>Photo URL:</strong> {{ client.photo }}</p>
            <p><strong>Description:</strong> {{ client.description }}</p>
        </div>
    </div>
    
    <div *ngIf="role === 'PET_SHELTER'">
        <h2>Pet Shelter Details</h2>
        <div class="pet-shelter-info">
            <p><strong>Name:</strong> {{ petShelter.name }}</p>
            <p><strong>Country:</strong> {{ petShelter.country }}</p>
            <p><strong>City:</strong> {{ petShelter.city }}</p>
            <p><strong>Capacity:</strong> {{ petShelter.capacity }}</p>
            <p><strong>Address:</strong> {{ petShelter.address }}</p>
            <p><strong>Description:</strong> {{ petShelter.description }}</p>
            <div>
                <strong>Verification:</strong> 
                <div *ngIf="petShelter.isVerified">
                    <p>Pet Shelter {{ petShelter.name }} is verified.</p>
                </div>
                <div *ngIf="!petShelter.isVerified">
                    <p>Pet Shelter {{ petShelter.name }} is not verified.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="button-section">
        <button id="leaveCommentBtn">Leave a Comment</button>
        <button (click)="messageUser()" id="messageBtn">Message User</button>
    </div>

    <div class="form" id="form">
        <form [formGroup]="impressionForm" (ngSubmit)="takeImpression()">
            <label for="comment">Comment:</label>
            <input type="text" id="comment" name="comment" required>
            <button type="submit">Submit</button>
            <label for="rating">Rating:</label>
            <input type="range" id="rating" name="rating" min="1" max="5" step="1" required>
        </form>
    </div>

    <script>
         document.addEventListener('DOMContentLoaded', function() {
            const toggleButton = document.getElementById('leaveCommentBtn');
            const form = document.getElementById('form');

            toggleButton.addEventListener('click', function() {
            form.classList.toggle('show'); 
            toggleButton.textContent = form.classList.contains('show') ? 'Hide Form' : 'Show Form';
            });
        });
    </script>
</body>
</html>