<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mido</title>
</head>
<body>
    <div class="advertisements-container">
        <h2>Search Results</h2>
        <div *ngIf="ads.length === 0">No advertisements found.</div>
        <div *ngFor="let ad of ads" class="advertisement-card" (click)="seeAd(ad)">
          <h3>{{ ad.title }}</h3>
          <p><strong>Breed:</strong> {{ ad.dogBreed }}</p>
          <p><strong>Location:</strong> {{ ad.city }}, {{ ad.country }}</p>
        </div>
      </div>
</body>
</html>