<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta title="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mido</title>
</head>
<body>
    <div class="register-container">
        <h2>Create Advertisement</h2>
        <form [formGroup]="createAdForm" (ngSubmit)="createAd()">
          <div class="input-group">
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title">
            <small style="color:red" *ngIf="createAdForm.controls['title'].invalid && (createAdForm.controls['title'].dirty || createAdForm.controls['title'].touched)">
                <div *ngIf="createAdForm.controls['title'].errors?.['required']">Title is required.</div>
            </small>
          </div>
          <div class="input-group">
            <label for="description">Description</label>
            <input type="description" id="description" formControlName="description">
          </div>
          <div class="input-group">
            <label for="dogName">Dog Name</label>
            <input type="dogName" id="dogName" formControlName="dogName">
            <small style="color:red" *ngIf="createAdForm.controls['dogName'].invalid && (createAdForm.controls['dogName'].dirty || createAdForm.controls['dogName'].touched)">
                <div *ngIf="createAdForm.controls['dogName'].errors?.['required']">Dog Name is required.</div>
            </small>
          </div>
          <div class="input-group">
            <label for="dogAge">Dog Age</label>
            <input type="dogAge" id="dogAge" formControlName="dogAge">
            <small style="color:red" *ngIf="createAdForm.controls['dogAge'].invalid && (createAdForm.controls['dogAge'].dirty || createAdForm.controls['dogAge'].touched)">
                <div *ngIf="createAdForm.controls['dogAge'].errors?.['required']">Dog Age is required.</div>
            </small>
          </div>
          <div class="input-group">
            <label for="dogKg">Dog Kilograms</label>
            <input type="dogKg" id="dogKg" formControlName="dogKg">
            <small style="color:red" *ngIf="createAdForm.controls['dogKg'].invalid && (createAdForm.controls['dogKg'].dirty || createAdForm.controls['dogKg'].touched)">
                <div *ngIf="createAdForm.controls['dogKg'].errors?.['required']">Dog Kilograms is required.</div>
            </small>
          </div>
          <div class="input-group">
            <label for="dogBreed">Dog Breed</label>
            <input type="dogBreed" id="dogBreed" formControlName="dogBreed">
            <small style="color:red" *ngIf="createAdForm.controls['dogBreed'].invalid && (createAdForm.controls['dogBreed'].dirty || createAdForm.controls['dogBreed'].touched)">
                <div *ngIf="createAdForm.controls['dogBreed'].errors?.['required']">Dog Breed is required.</div>
            </small>
          </div>
          <div class="input-group">
            <label for="dogGender">Dog Gender</label>
            <input type="dogGender" id="dogGender" formControlName="dogGender">
            <small style="color:red" *ngIf="createAdForm.controls['dogGender'].invalid && (createAdForm.controls['dogGender'].dirty || createAdForm.controls['dogGender'].touched)">
                <div *ngIf="createAdForm.controls['dogGender'].errors?.['required']">Dog Gender is required.</div>
            </small>
          </div>
          <div class="input-group">
            <label for="dogColor">Dog Color</label>
            <input type="dogColor" id="dogColor" formControlName="dogColor">
            <small style="color:red" *ngIf="createAdForm.controls['dogColor'].invalid && (createAdForm.controls['dogColor'].dirty || createAdForm.controls['dogColor'].touched)">
                <div *ngIf="createAdForm.controls['dogColor'].errors?.['required']">Dog Color is required.</div>
            </small>
          </div>
          <div class="input-group">
            <label for="photo">Photo</label>
            <input type="photo" id="photo" formControlName="photo">
          </div>
          <button type="submit">Create Advertisement</button>
        </form>
      </div>
</body>
</html>

