<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta title="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mido</title>
</head>
<body>
    <div class="register-container">
        <h2>Create Advertisement</h2>
        <form [formGroup]="createAdForm" (ngSubmit)="createAd()" class="form">
            <div class="input-group">
                <label for="title">Title</label>
                <input type="text" id="title" formControlName="title">
                <small *ngIf="createAdForm.controls['title'].invalid && (createAdForm.controls['title'].dirty || createAdForm.controls['title'].touched)">
                    <div *ngIf="createAdForm.controls['title'].errors?.['required']">Title is required.</div>
                </small>
            </div>
            <div class="input-group">
                <label for="description">Description</label>
                <input type="description" id="description" formControlName="description">
            </div>
            <div class="input-group">
                <label for="dogName">Name</label>
                <input type="dogName" id="dogName" formControlName="dogName">
                <small *ngIf="createAdForm.controls['dogName'].invalid && (createAdForm.controls['dogName'].dirty || createAdForm.controls['dogName'].touched)">
                    <div *ngIf="createAdForm.controls['dogName'].errors?.['required']">Dog Name is required.</div>
                </small>
            </div>
            <div class="input-group">
                <label for="dogAge">Age</label>
                <input type="dogAge" id="dogAge" formControlName="dogAge">
                <small *ngIf="createAdForm.controls['dogAge'].invalid && (createAdForm.controls['dogAge'].dirty || createAdForm.controls['dogAge'].touched)">
                    <div *ngIf="createAdForm.controls['dogAge'].errors?.['required']">Dog Age is required.</div>
                </small>
            </div>
            <div class="input-group">
                <label for="dogKg">Kilograms</label>
                <input type="dogKg" id="dogKg" formControlName="dogKg">
                <small *ngIf="createAdForm.controls['dogKg'].invalid && (createAdForm.controls['dogKg'].dirty || createAdForm.controls['dogKg'].touched)">
                    <div *ngIf="createAdForm.controls['dogKg'].errors?.['required']">Dog Kilograms is required.</div>
                </small>
            </div>
            <div class="input-group">
                <label for="dogBreed">Breed</label>
                <input type="dogBreed" id="dogBreed" formControlName="dogBreed">
                <small *ngIf="createAdForm.controls['dogBreed'].invalid && (createAdForm.controls['dogBreed'].dirty || createAdForm.controls['dogBreed'].touched)">
                    <div *ngIf="createAdForm.controls['dogBreed'].errors?.['required']">Dog Breed is required.</div>
                </small>
            </div>
            <div class="input-group">
                <label for="dogGender">Gender</label>
                <input type="dogGender" id="dogGender" formControlName="dogGender">
                <small *ngIf="createAdForm.controls['dogGender'].invalid && (createAdForm.controls['dogGender'].dirty || createAdForm.controls['dogGender'].touched)">
                    <div *ngIf="createAdForm.controls['dogGender'].errors?.['required']">Dog Gender is required.</div>
                </small>
            </div>
            <div class="input-group">
                <label for="dogColor">Color</label>
                <input type="dogColor" id="dogColor" formControlName="dogColor">
                <small *ngIf="createAdForm.controls['dogColor'].invalid && (createAdForm.controls['dogColor'].dirty || createAdForm.controls['dogColor'].touched)">
                    <div *ngIf="createAdForm.controls['dogColor'].errors?.['required']">Dog Color is required.</div>
                </small>
            </div>
            <div class="input-group">
                <label for="country">Country</label>
                <input type="country" id="country" formControlName="country">
                <small *ngIf="createAdForm.controls['country'].invalid && (createAdForm.controls['country'].dirty || createAdForm.controls['country'].touched)">
                    <div *ngIf="createAdForm.controls['country'].errors?.['required']">Country is required.</div>
                </small>
            </div>
            <div class="input-group">
                <label for="city">City</label>
                <input type="city" id="city" formControlName="city">
                <small *ngIf="createAdForm.controls['city'].invalid && (createAdForm.controls['city'].dirty || createAdForm.controls['city'].touched)">
                    <div *ngIf="createAdForm.controls['city'].errors?.['required']">City is required.</div>
                </small>
            </div>
            <button type="submit">Create Advertisement</button>
        </form>
    </div>
</body>
</html>
