<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
</head>
<body>
    <p>{{client.photo}}<!-- First a photo should be added --></p>
    <h1>Personal Information</h1>
    <div class="personal-info">
        <p><strong>First Name: </strong>{{client.firstName}}</p>
        <p><strong>Last Name: </strong>{{client.secondName}}</p>
        <p><strong>Country: </strong>{{client.country}}</p>
        <p><strong>City: </strong>{{client.city}}</p>
    </div>
    <div class="description">
        <p><strong>Description:</strong></p>
        <p>{{client.description}}</p>
    </div>
    <div class="options">
        <button class="options-button" (click)="message()">Message</button>
        <button class="options-button" (click)="rate()">Rate</button>
        <button class="options-button" (click)="comment()">Leave a comment</button>
    </div>
    <p>Rating: <!-- Rating should be added --></p>
    <div class="comments">
        <!-- Comments section should also be added -->
    </div>
</body>
</html>
